*{
    margin: 0px;
    padding: 0px;
}
body{
    text-align: center;
    background-color: cadetblue;
}
.container{
height:70vmin;
display: flex;
justify-content: center;
align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    color: green;
    font-size: 8vmin;
    font-weight: lighter;
    background-color:rgb(226, 239, 183);
}
#reset{
    width:15vmin;
    height:5vmin;
    text-align: center;
    background-color: rgb(19, 40, 5);
    color: white;
    border: none;
    border-radius: 1vmin;
}
.msg-container{
    margin-top: 5vmin;
    height: 10vmin;
}
#new-game{
    width:15vmin;
    height:5vmin;
    text-align: center;
    background-color: rgb(5, 47, 14);
    color: white;
    border: none;
    border-radius: 1vmin; 
}
.hide{
    display: none;
}
#msg{
    font-size: 5vmin;
}
#statistics{
    font-size: 5vmin;
    font-weight: bold;

}